In [241]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier

In [242]:
train_data = pd.read_csv('titanic_train.csv')
train_data.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [243]:
train_data.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [244]:
test_data = pd.read_csv('titanic_test.csv')
test_data.head(2)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S

In [245]:
mytree = DecisionTreeClassifier

In [246]:
tree_model = mytree()

In [247]:
print(train_data.shape)
print(test_data.shape)

(891, 12)
(418, 11)

In [248]:
train_data.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [249]:
# Calculate the average age
average_age = train_data['Age'].mean()

# Replace missing values in the 'Age' column with the average age
avg_age = train_data['Age'].mean()
# Replace missing values with the mean value
train_data['Age'].fillna(average_age, inplace=True)

In [250]:
train_data.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [251]:
train_data.drop('Cabin', axis=1, inplace=True)

In [252]:
train_data.isna().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       2
dtype: int64

In [287]:
train_data.drop("Embarked", axis=1, inplace=True)
train_data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare
0,1,0,3,"Braund, Mr. Owen Harris",male,22.000000,1,0,A/5 21171,7.2500
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.000000,1,0,PC 17599,71.2833
2,3,1,3,"Heikkinen, Miss. Laina",female,26.000000,0,0,STON/O2. 3101282,7.9250
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.000000,1,0,113803,53.1000
4,5,0,3,"Allen, Mr. William Henry",male,35.000000,0,0,373450,8.0500
...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.000000,0,0,211536,13.0000
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.000000,0,0,112053,30.0000
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,29.699118,1,2,W./C. 6607,23.4500
889,890,1,1,"Behr, Mr. Karl Howell",male,26.000000,0,0,111369,30.0000
890,891,0,3,"Dooley, Mr. Patrick",male,32.000000,0,0,370376,7.7500

In [288]:
X = train_data[['PassengerId', 'Pclass','Sex','SibSp','Parch','Fare']]
X

     PassengerId  Pclass     Sex  SibSp  Parch     Fare
0              1       3    male      1      0   7.2500
1              2       1  female      1      0  71.2833
2              3       3  female      0      0   7.9250
3              4       1  female      1      0  53.1000
4              5       3    male      0      0   8.0500
..           ...     ...     ...    ...    ...      ...
886          887       2    male      0      0  13.0000
887          888       1  female      0      0  30.0000
888          889       3  female      1      2  23.4500
889          890       1    male      0      0  30.0000
890          891       3    male      0      0   7.7500

[891 rows x 6 columns]

In [289]:
X.shape

(891, 6)

In [290]:
X[0:5]

   PassengerId  Pclass     Sex  SibSp  Parch     Fare
0            1       3    male      1      0   7.2500
1            2       1  female      1      0  71.2833
2            3       3  female      0      0   7.9250
3            4       1  female      1      0  53.1000
4            5       3    male      0      0   8.0500

In [291]:
X.dtypes

PassengerId      int64
Pclass           int64
Sex             object
SibSp            int64
Parch            int64
Fare           float64
dtype: object

In [292]:
y = train_data['Survived']

In [293]:
from sklearn.preprocessing import LabelEncoder
le_sex = LabelEncoder()

In [294]:
le_sex.fit(X['Sex'])

LabelEncoder()

In [295]:
# Apply label encoding to the 'Sex' column
X['Sex'] = le_sex.transform(X['Sex'])

/var/folders/t9/1b_yyhtn631fbcd04v7q8__00000gn/T/ipykernel_93273/1690864460.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['Sex'] = le_sex.transform(X['Sex'])

In [296]:
print(X['Sex'].unique())

[1 0]

In [297]:
print(X[:5])

   PassengerId  Pclass  Sex  SibSp  Parch     Fare
0            1       3    1      1      0   7.2500
1            2       1    0      1      0  71.2833
2            3       3    0      0      0   7.9250
3            4       1    0      1      0  53.1000
4            5       3    1      0      0   8.0500

In [298]:
print('X-shape: ', X.shape)
print('y-shape: ', y.shape)

X-shape:  (891, 6)
y-shape:  (891,)

In [299]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [300]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=3)

In [301]:
print('X_train:', X_train.shape, 'y_train:', y_train.shape)
print('X_test:', X_test.shape, 'y_test:', y_test.shape)

X_train: (623, 6) y_train: (623,)
X_test: (268, 6) y_test: (268,)

In [302]:
# Initialize the decision tree classifier
titanic_tree = DecisionTreeClassifier(criterion='entropy', max_depth=4)

In [303]:
# Fit the model to the training data
titanic_tree.fit(X_train, y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=4)

In [304]:
# vector y_train
titanic_tree.fit(X_train, y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=4)

In [305]:
pred_tree = titanic_tree.predict(X_test)

In [306]:
print(pred_tree[0:5])
print(y_test[0:5])

[0 0 0 0 0]
395    0
85     1
201    0
542    0
702    0
Name: Survived, dtype: int64

In [307]:
from sklearn import metrics
import matplotlib.pyplot as plt
tree_accuracy = metrics.accuracy_score(y_test, pred_tree)
print('Decision Tree Accuracy is: {:.2f}%'.format(tree_accuracy * 100))

Decision Tree Accuracy is: 75.37%

## XGBoost run to improve accuracy

In [317]:
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [318]:
## XG BOOST performance for comparisonimport xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [328]:
test_data = test_data[['PassengerId','Pclass','Sex','SibSp','Parch','Fare']]
print(test_data.shape)
test_data[:5]

(418, 6)

   PassengerId  Pclass     Sex  SibSp  Parch     Fare
0          892       3    male      0      0   7.8292
1          893       3  female      1      0   7.0000
2          894       2    male      0      0   9.6875
3          895       3    male      0      0   8.6625
4          896       3  female      1      1  12.2875

In [320]:
# Initialize the XGBoost classifier
xgb_classifier = xgb.XGBClassifier()

In [332]:
le_sex.fit(test_data['Sex'])
# Apply label encoding to the 'Sex' column
test_data['Sex'] = le_sex.transform(test_data['Sex'])
test_data[:5]

/var/folders/t9/1b_yyhtn631fbcd04v7q8__00000gn/T/ipykernel_93273/1778964943.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data['Sex'] = le_sex.transform(test_data['Sex'])

   PassengerId  Pclass  Sex  SibSp  Parch     Fare
0          892       3    1      0      0   7.8292
1          893       3    0      1      0   7.0000
2          894       2    1      0      0   9.6875
3          895       3    1      0      0   8.6625
4          896       3    0      1      1  12.2875

In [333]:
# Fit the model to the training data
xgb_classifier.fit(X_train, y_train)

[12:35:12] WARNING: ../src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

/Users/jurajzigo/opt/anaconda3/lib/python3.9/site-packages/xgboost/sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Users/jurajzigo/opt/anaconda3/lib/python3.9/site-packages/xgboost/data.py:250: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
              gamma=0, gpu_id=-1, importance_type=None,
              interaction_constraints='', learning_rate=0.300000012,
              max_delta_step=0, max_depth=6, min_child_weight=1, missing=nan,
              monotone_constraints='()', n_estimators=100, n_jobs=8,
              num_parallel_tree=1, predictor='auto', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [334]:
# Predict the labels for the test set
y_pred = xgb_classifier.predict(test_data)
print(y_pred.shape)

(418,)

In [341]:
y_pred.shape

(418,)

In [342]:
# Add the predicted values as a new column named 'Survived' to the test_data DataFrame
test_data['Survived'] = y_pred

# Print the first few rows of the DataFrame to verify the addition of the predicted column
print(test_data.head())

   PassengerId  Pclass  Sex  SibSp  Parch     Fare  Survived
0          892       3    1      0      0   7.8292         0
1          893       3    0      1      0   7.0000         0
2          894       2    1      0      0   9.6875         0
3          895       3    1      0      0   8.6625         0
4          896       3    0      1      1  12.2875         1

In [343]:
kaggle_titan = test_data[['PassengerId','Survived']]
print(kaggle_titan.shape)
print(kaggle_titan.head())

(418, 2)
   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1

In [345]:
# Save the predictions to a CSV file
kaggle_titan.to_csv('titanic_predictions.csv', index=False)

In [173]:
kaggle_y_predict.to_csv('predictions.csv', index=False)